<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Solar</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
    
      header {
        background-color: #007bff; 
        color: #e80909; 
        text-align: center;
        padding: 20px 0;
        font-family: "Nunito", sans-serif; 
        font-size: 32px; 
        transition: background-color 0.3s ease; 
      }

      header:hover {
        background-color: #0056b3; 
      }

    
      section {
        color: #ef09ef; 
      }


      button[type="submit"] {
        background-color: #d59010; 
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        transition: background-color 0.3s ease; 
      }

      button[type="submit"]:hover {
        background-color: #0d13bb; 
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Bem-vindo ao Sistema Solar</h1>
      <nav>
        <ul>
          <li><a href="#planetas">Planetas</a></li>
          <li><a href="#lua">Lua</a></li>
          <li><a href="#estrelas">Estrelas</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="planetas">
        <h2>Planetas do Sistema Solar</h2>
        <ul id="list">
          <li>Mercúrio</li>
          <li>Vênus</li>
          <li>Terra</li>
          <li>Marte</li>
          <li>Júpiter</li>
          <li>Saturno</li>
          <li>Urano</li>
          <li>Netuno</li>
        </ul>
      </section>

      <section id="lua">
        <h2>A Lua</h2>
        <p>A Lua é o único satélite natural da Terra.</p>
        <img src="moon.jpg" alt="Lua" />
      </section>

      <section id="estrelas">
        <h2>Estrelas</h2>
        <p>O Sol é a estrela central do nosso Sistema Solar.</p>
        <iframe
          width="100%"
          src="https://www.youtube.com/embed/video_id"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 Sistema Solar</p>
    </footer>
  </body>
</html>




